body {
	--heading-font: "Poppins", Georgia, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Занимает 100% высоты видимой области экрана */
}

.map {
    width: 100%;
    max-width: 1000px;
    height: 700px;
    border: 2px solid #0a74f1; /* Голубая обводка вокруг карты */
    border-radius: 8px; /* Округленные углы */
    overflow: hidden; /* Убирает обводку за пределы карты */
}
  
  [class*="copyrights-pane"] {
	  display: none !important;
  }
  /* Добавленные стили для страницы с картой */
	
	/* Общие стили для элементов, которые могут присутствовать на карте */
	/* Например, метка на карте */
	.ymaps-placemark {
	  width: 40px;
	  height: 40px;
	  background-color: #fff; /* Цвет фона метки */
	  border: 2px solid #0a74f1; /* Цвет обводки метки */
	  border-radius: 50%; /* Сделать метку круглой */
	}
	
	/* Другие стили для элементов на карте могут быть добавлены по мере необходимости */
	
  
	.map-title {
		text-align: center;
		color: var(--heading-color);
		font-family: var(--heading-font);
		font-weight: var(--heading-font-weight);
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.newmain-button {
		display: inline-block;
		padding: 10px 20px;
		background-color: #0A74F1;
		color: #fff;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		text-decoration: none;
		transition: background-color 0.3s ease-in-out;
		position: absolute;
		top: 10px; /* Расстояние сверху */
		right: 10px; /* Расстояние справа */
	  }
	  
	  .newmain-button:hover {
		background-color: #073d7c;
	  }