body {
  --heading-font: "Poppins", Georgia, serif;
  --heading-font-weight: 400;
  --heading-color: #313131;
  --heading-line-height: 1.24;

  --swiper-theme-color: #8C907E;

  /* bootstrap */
  --bs-body-font-family: "Poppins", Georgia, serif;
  --bs-body-font-size: 16px;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.9;
  --bs-body-color: #616161;
  --bs-body-color-rgb: 1.6, 1.6, 1.6;
  --bs-body-bg-rgb: 249, 245, 243;
  --bs-body-bg: #FFF;

  --bs-primary: #0A74F1;
  --bs-black: #111;
  --bs-white: #fff;
  --bs-light: #f8f8f8;
  --bs-dark: #313131;
  --bs-gray: #C5C5C5;
  --bs-dark-gray: #9D9D9D;
  --bs-gray-200: #E9EAED;  
  --bs-gray-300: #D7D7D7;    

  --bs-primary-rgb: 10, 116, 241;
  --bs-black-rgb: 17, 17, 17;
  --bs-white-rgb: 255, 255, 255;
  --bs-light-rgb: 249, 250, 252;
  --bs-dark-rgb: 33, 37, 41;

  --bs-link-color: #313131;
  --bs-link-color-rgb: 17, 17, 17;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #313131;
  --bs-link-hover-color-rgb: 178, 133, 110;
}

/* Удалены стили для h1, h2, h3, h4, h5, h6, a:hover, input:focus, strong, .overflow-x-hidden, и т.д. */

@media (min-width: 1600px) {
  .container, .container-lg {
    max-width: 1550px;
  }
  .container-md {
    max-width: 1430px;
  }
  .container {
    max-width: 1200px;
  }
}

/* Удалены стили для .list-group-item, .btn, .btn-group-lg, .btn-primary, .btn-outline-gray, .text-white, .text-gray-200, .text-dark-gray, и т.д. */

[data-bs-theme=dark] {
  color-scheme: dark;
  /* Другие стили для темы dark здесь */
}

/* Удалены стили для .border-gray, .border-white, .border-2, .border-3, .border-4, .border-10, .display-1, и т.д. */

@media (max-width: 1200px) {
  .navbar-nav .nav-item {
    border-bottom: 1px solid var(--bs-gray-200);
    text-align: left;
    width: 100%;
  }
  .navbar-nav .dropdown-menu {
    border: none;
  }
}

@media (max-width: 1340px) {
  #intro .content-box {
    top: -114px;
  }
}

/* Удалены стили для .homepage-v3, #testimonials .swiper.review-swiper, .swiper-pagination, .swiper-pagination span.swiper-pagination-bullet, .swiper-pagination span.swiper-pagination-bullet-active, .video-content .player, .subscribe-content button, и т.д. */

#faqs .accordion-button::after {
  background-size: 2.5rem;
  width: 2rem;
  height: 2rem;
  transition: 0.3s ease-in-out;
}

/* Удалены стили для .circle-bg, .circle-bg::after, .scrollspy-nav, .scrollspy-nav .scrollspy-link, .scrollspy-nav .scrollspy-indicator, и т.д. */
.main-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0A74F1;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  position: absolute;
  top: 10px; /* Расстояние сверху */
  right: 10px; /* Расстояние справа */
}

.main-button:hover {
background-color: #073d7c;
}