body {   
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Georgia, serif;
    background-color: #fff; /* белый фон на весь экран */
}

header {
    background-color: #ffffff;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.left-button, .right-button {
    background-color: transparent; /* убираем фон */
    color: #000000; /* цвет текста */
    padding: 15px; /* увеличенный размер кнопок */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none; /* убираем обводку при фокусировке */
    position: relative;
    display: inline-block;
    transition: color 0.3s ease-in-out;
    font-size: 16px; /* Увеличение размера шрифта */
}

.left-button {
    color: #000000; /* цвет текста для левой кнопки */
    font-size: 25px; /* Увеличение размера шрифта */
}

.right-buttons {
    display: flex;
    gap: 25px;
    margin-right: 160px; /* Установка отступа справа */
}

/* Эффект при наведении на кнопку */
.left-button:hover, .right-button:hover {
    color: #0a74f1;
}

/* Эффект развертывания линии при наведении на кнопку */
.left-button::before, .right-button::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #0a74f1;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
}

.left-button:hover::before, .right-button:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
